{% extends 'contractorbase.html' %}
{% block contractor %}

  
  <div class="row">
    <div class="col-sm-12">
        <h4 class="text-center text-warning"><u>Contractor Dashboard</u></h4>
        <!-- box start -->
        <div class="row">
  <div class="col-sm-3 mb-4">
    <div class="card border-warning mb-3 mt-5 ms-5 shadow">
      <h5 class="text-warning fw-bold ms-3 me-3 mt-3">Total Projects  </h5>
      <h5 class=" ms-3">5</h5>
      
        <p class=" ms-2  mt-2">All projects created by you</p>
      
    </div>
  </div>
  <div class="col-sm-3">
   <div class="card border-warning mb-3 mt-5 ms-5 shadow">
      <h5 class="text-warning fw-bold ms-3 me-3 mt-3" style="font-size: small;">Ongoing Projects</h5>
      <h5 class=" ms-3">1</h5>
      
        <p class="ms-2 mt-2" style="font-size:small;">Projects under construction or designing</p>
    </div>
    </div>
  <div class="col-sm-3">
    <div class="card border-warning mb-3 mt-5 ms-5 shadow">
      <h5 class="text-warning fw-bold ms-3 me-3 mt-3" style="font-size: small;">Completed Projects</h5>
      <h5 class=" ms-3">2</h5>
      
        <p class="ms-2 mt-2" style="font-size: small;">Successfully Finished Projects</p>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card border-warning mb-3 mt-5 ms-5 shadow">
      <h4 class="text-warning fw-bold ms-3 me-3 mt-3">500</h4>
      <h4 class=" ms-3">0</h4>
     
        <p class="ms-2 mt-2" style="font-size: smaller;">1k download in App store</p>
    
    </div>
  </div>
</div>
</div>
    </div>
{% endblock %}