{% extends 'adminbase.html' %}
{% load static %}
{% block admin %}
       

           
                <div class="row p-5 mt-5">
                     <div class="col-sm-7 mx-auto">
 <div class="card p-4 rounded-3" style="background: rgb(214, 237, 100);">
    <form method="post">
                   {% csrf_token %}
                        <h2 class="text-center">Change Password</h2>
                        <div class="form-floating mb-3">

                        </div>
                        <div class="form-floating">
                            <input type="password" name="oldpwd" class="form-control" id="floatingPassword"
                                placeholder="Password" required>
                            <label for="floatingPassword"> Old Password</label>
                        </div><br>
                        <div class="form-floating mb-3">
                            <input type="password" name="newpwd" class="form-control" id="floatingInput"
                                placeholder="name@example.com" required>
                            <label for="floatingInput">New Password</label>
                        </div>
                        <div class="form-floating">
                            <input type="password" name="confirmpwd" class="form-control" id="floatingPassword"
                                placeholder="Password" required>
                            <label for="floatingPassword">Confirm Password</label>
                        </div><br>
                        <button class="btn btn-warning w-100 py-3" type="submit">
                            <h5>Change Password</h5>
                        </button>
                    </div>
                     </div>
                </div>
        
            </form>
      
    

{% endblock %}