{% extends 'adminbase.html' %}
{% block admin %}
<div class="row">
    <div class="col-sm-12 text-center">
        <h3 class="text-warning"> Manage Homeowners</h3>
    </div>
     <table class="table mt-3">
<tr>
    <th>S.no</th>
    <th>Name</th>
    <th>Email</th>
    <th>Contact No</th>  
    <th>Picture</th>
    <th>Addresss</th>
    <th>Action</th>
</tr>           
{% for h in homeowners %}
<tr>
    <td>{{forloop.counter}}</td>
    <td>{{h.name}}</td>
    <td>{{h.email}}</td>
    <td>{{h.contactno}}</td>
    
    <td>
        {% if h.picture %}
        <img src="{{h.picture.url}}" alt="" height="80px">
        {% else %}
        No Profile
        {% endif %}
    </td>
    <td>{{h.address}}</td>
    <td>
        <a href="" class="btn btn-danger">Block</a>
    </td>
</tr>
{% endfor %}
    </table>
</div>


{% endblock %}